@font-face{
    font-family: "Avenir LT Std 35 Light" ;
    src: url('AvenirLTStd Light.otf'), url('AvenirLTStd Light.otf') format('otf');}

@media only screen and (max-width: 600px) {
.bg .row{
    margin-right: 0 !important;
    margin-left: 0 !important;

}
    .bg{
        height: 875px !important;
    }
    .mobile h6,h5 {
        margin: 0 auto;
        padding: 0 !important;
        text-align: center;
    }
    .mobile h5 {
        margin-top: 10px;
    }
    .kontaktai {
        text-align: center;
    }
    .kontaktai h4 {
        text-align: center !important;
    }
.sidenav{
    width: 100% !important;
    padding: 0px;
    margin: 0px;
}
.virsunike{
    display: none;
}
.apacia{
    display: none;
}
.pilkas{
    margin: 0px !important;
}
.Naujasavataras{
    display: block;
    margin-left: 0 !important;
    marging: 0 auto;
}
.iconos1{
    text-align: center !important;
    padding-right: 0 !important;
    background-color: #F6783F;
    margin-top: 80px;
    padding: 0 !important;
    padding-bottom: 30px !important;
}
.orange{
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
.orange h4{
    vertical-align: middle;
    text-align: center;
    line-height: 80px;
    padding: 0 !important;
}
}

.bg {
    height: 421px;
    background: url("IMG/heads.svg");
    background-size: cover;
}
.bg h6 {
    background: #F6783F;
    line-height: 65px;
    vertical-align: middle;
    font-family: "Avenir LT Std 35 Light";
    font-size: 30px;
    color: #ffffff;
    display: block;
    padding-right: 90px;
    padding-left: 60px;
    max-width: 300px;
    margin-top: 50px;
}
.bg h5 {
    background: #F6783F;
    line-height: 35px;
    vertical-align: middle;
    font-family: "Avenir LT Std 35 Light";
    font-size: 15px;
    color: #ffffff;
    display: block;
    padding-right: 90px;
    padding-left: 60px;
    max-width: 300px;
}

.Naujasavataras{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #F6783F;
    margin-top: 50px;
    margin-left: 130px;
}

.kontaktai h4 {
    padding-top: 30px;
    font-family: "Avenir LT Std 35 Light";
    font-size: 35px;
    text-align: left;
    color: #ffffff;
}
.kontaktai h3 {
    display: inline-block;
    padding-left: 30px;
    font-size: 20px;
    color: #ffffff;
    font-family: "Avenir LT Std 35 Light";
    vertical-align: middle;
}
.kontaktai i {
    padding-top: 20px;
    display: inline-block;

}

.iconos1 i {
    background: #ffffff;
    border-radius: 50%;
    padding: 10px;
    margin-left: 20px;
    color: #4C566B;
}
.iconos1 {
     text-align: right;
     padding-top: 50px;
     font-size: 35px;
     padding-right: 50px;
 }

.fa-facebook-f{
    padding-left: 17px !important;
    padding-right: 17px !important;
}
.fa-linkedin{
    padding-left: 13px !important;
    padding-right: 13px !important;
}
.fa-dribbble{
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.fa-behance {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.virsunike{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 400px 40px 0px;
    border-color: transparent transparent #4C566B transparent;
    margin-left: 45px;

}

.sidenav{
    width: 400px;
}
.pilkas {
    background-color: #4C566B;
    width: 100%;
    margin-left: 45px;
}
.orange{
    width: 440px;
    height: 80px;
    background-color: #F6783F;
    color: #ffffff;
    box-shadow: 4px 3px 11px 0px rgba(0,0,0,0.61);
    padding-top: 40px;
    margin-left: -25px;
    position: relative;
    top: 20px;
    text-align: left;
}
.orange h4 {
    padding-left: 40px;
    margin-top: -15px;
    font-size: 30px;
    letter-spacing: 1px;
}
.pilkas img {
    margin-left: 45px;
    margin-bottom: 20px;
    display: inline-block;
    justify-content: center;
}
.paveikslai {
    margin-top: 50px;
    width: 90%;
    text-align: center;
}

.barai {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
}
label {
    font-family: "Avenir LT Std 35 Light";
    color: #ffffff;
    font-size: 20px;
    display: block;
    padding-bottom: 5px;
    padding-top: 15px;
    margin-left: 25px;
}
.progress {
    height: 20px !important;
    border-radius: unset !important;
    background-color: #142028 !important;
    width: 90%;
    margin-left: 20px;
}
.progress-bar {
    background-color: #374151 !important;
}
.apacia{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 400px 0 0px;
    border-color: #4C566B transparent transparent transparent;
    margin-left: 45px;
}
.sudai {
    height: 50px;
    width: 50px;
    display: inline-block;

}
.title:first-child{
    margin-top: 100px;
    padding-top: 0px;
}
.nomargin{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.title{
    padding-top: 35px;
    display: flex;
    align-items: center;
}
.tabas {
    width: 120px;
    height: 60px;
    margin: 0 auto;
    background-color: #F6783F;
    text-align: center;
}
.footer .title {
    justify-content: center;
}
.juosta{
    position: absolute;
    border: 1px solid #4C566B;
    width: 100%;
    z-index: -1;
    margin-top: 142px;
}
.tabas p {
    padding-top: 15px;
    font-family: "Avenir LT Std 35 Light";
    color: #ffffff;
    font-size: 20px;
}

.trikampis {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0px 5px 120px;
    border-color: transparent transparent #f6793f;
    margin: 0 auto;
}

.arrow {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F6783F;
    margin: 0 auto;

}
.rutuliukas {
    width: 25px;
    height: 25px;
    background-color: #F6783F;
    border: 3px solid #F6783F;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
}
.lentele {
    padding-top: 35px;
    width: 100%;
    font-family: "Avenir LT Std 35 Light";
    text-align: center;

    display: inline-block;
}

.lentele h6 {
    padding-top: 25px;
    font-weight: bold;
    font-size: 20px;
}

.lentele h2 {
    font-size: 20px;
}

.contleft h1:first-child{
    padding-top: 30px;
}
.contleft h1 {
    padding-top: 10px;
    font-family: "Avenir LT Std 35 Light";
    font-weight: bold;
    font-size: 20px;
    color: #141918;

    text-align: center;
}
.contleft div{
    height: 60px;
    border: 1px solid #4C566B;
    width: 0px;
    margin: 0 auto;
}
.contentas p {
    padding-top: 30px;
}
.contleft{
    margin-left: -55px;
}
.contright{
    padding-top: 29px;
}
.pavadinimas{
    padding-top: 0px !important;
    font-family: "Avenir LT Std 35 Light";
    font-weight: bold;
    font-size: 20px;
    color: #141918;
    margin-bottom: 0px !important;
}
.tekstas{
    padding-top: 10px !important;
}
.title h3{
    display: inline-block;
    font-family: "Avenir LT Std 35 Light";
    font-size: 35px;
    text-transform: uppercase;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 0;
}
.nopaddind{
    padding-left: 0px !important;
    padding-right: 0px !important;

}
.contentas{
    padding-right: 70px;
}
.atsiras{
    display: none;
}
@media only screen and (max-width: 991px) and (min-width:600px){
    .bg{
        height: 680px !important;
    }
.kontaktai {
    text-align: center;
}
.kontaktai h4 {
    text-align: center;
}
.iconos1{
   padding-top: 25px !important;
}
.mobile {
    text-align: center;

}
.mobile h5,h6 {
    text-align: center;
    margin: 0 auto !important;
    margin-top: 20px !important;
}
    .Naujasavataras{
        display: block;
        margin-left: 0 !important;
        marging: 0 auto;
    }
.bg{
    height: 875px !important;
}
    .iconos1{
        text-align: center !important;
        padding-right: 0 !important;
        background-color: #F6783F;
        margin-top: 90px;
        padding: 0 !important;
        padding-bottom: 56px !important;
    }
    .sidenav{
        width: 100% !important;
        padding: 0px;
        margin: 0px;
    }
    .virsunike{
        display: none;
    }
    .apacia{
        display: none;
    }
    .pilkas{
        margin: 0px !important;
    }
    .orange{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .orange h4{
        vertical-align: middle;
        text-align: center;
        line-height: 80px;
        padding: 0 !important;
    }
    .bg .row{
        margin-right: 0 !important;
        margin-left: 0 !important;

    }
}
@media only screen and (min-width:768px) {
    .iconos1{
        background-color: transparent;
    }
    .mobile{
        padding-top: 60px;
        text-align: center;
    }
    .mobile h5,h6 {
        text-align: center;
        margin: 0 auto !important;
        margin-top: 20px !important;
    }
}
@media only screen and (min-width:1200px) {
    .mobile h5,h6 {
        text-align: center;
        margin: 0 0 !important;
        margin-top: 20px !important;
    }
}
@media only screen and (min-width:992px) and (max-width: 1220px) {
    .contentas{
        margin-left: 100px;
    }
    .contright{
        margin-left: 30px;
    }
}
@media only screen and (max-width:991px){

    .juosta{
       display: none;
   }
    .contleft {
        display: none;
    }
    .title{
        justify-content: center;
    }
    .contentas p {
        text-align: center;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .atsiras{
      display: block;
        font-family: "Avenir LT Std 35 Light";
        font-weight: bold;
        font-size: 20px;
        color: #141918;

        text-align: center;
    }
    .tekstas{
        text-align: center !important;
    }
    .pavadinimas{
        text-align: center;
    }
    .contentas{
        padding: 0px;
    }
    .contright{
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
}










